:root {
	// base
	--font-family: 'Open Sans', sans-serif;
	--content-width: 1540px;
	--container-offset: 50px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--light-color: #fff;
}
